    @font-face {
        font-family: Nunito;
        src: url('./Nunito-Reguler.ttf');
    }
    @font-face {
        font-family: Nunito;
        src: url('./Nunito-Bold.ttf');
        font-weight: bold;
    }
    @font-face {
        font-family: Nunito;
        src: url('./Nunito-Italic.ttf');
        font-style: italic;
    }
    @font-face {
        font-family: Nunito;
        src: url('./Nunito-BoldItalic.ttf');
        font-style: italic;
        font-weight: bold;
    }
    
    body {
        font-family: 'Nunito', sans-serif;
        margin: 0;
        background-color: #FFFFEE;
        color: #000;
        padding: 20px;
    }
    
    * {
        box-sizing: border-box;
    }
    
    /* Kotak artikel seperti blog */
    .blog-post {
        border: 2px solid #000;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #ffffee;
    }
    
    .blog-post h2 {
        margin-top: 0;
        font-size: 1.5em;
        text-align: center;
    }
    
    .blog-post p {
        margin-bottom: 0;
        line-height: 1.5;
    }
    
    /* Responsive container */
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    /*Link Style*/
    a {
        color: red; /* Default text color for all links */
        background-color: transparent; /* Default background for all links */
        text-decoration: none; /* No underline by default for all links */
    }
    
    a:hover {
        /* This rule will still apply if you hover, but if you want *only* on click, you might remove this or modify */
        text-decoration: underline; /* Underline on hover (you can adjust this if not desired) */
    }
    
    a:active {
        text-decoration: underline; /* Underline when the link is being clicked */
    }
    
    a:visited {
        /* This applies to links that have already been clicked and visited */
        color: red; /* Example: change color for visited links */
        text-decoration: underline; /* Underline for visited links */
    }
    